{{#each items}}
<li class="friend-item">
    <img class="friend-item__photo" src="{{photo_100}}"/>
    <div class="friend-item__name">{{first_name}} {{last_name}}</div>
    <div class="friend-item__remove"></div>
</li>
{{/each}}